.card {

    &__text,
    p {
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        color: #666;

        &--small,
        &.card__text--small {
            font-size: 14px;
        }
    }

    &__title,
    p:first-child {
        color: black;
        font-weight: bold;
    }

    &__go-corner,
    .card__go-corner {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 32px;
        height: 32px;
        overflow: hidden;
        top: 0;
        right: 0;
        background-color: #10f458;
        border-radius: 0 4px 0 32px;
    }

    &__go-arrow,
    .card__go-arrow {
        margin-top: -4px;
        margin-right: -4px;
        color: white;
        font-family: courier, sans;
    }

    &__inner,
    .card1 {
        display: block;
        position: relative;
        max-width: 262px;
        background-color: #f2f8f9;
        border-radius: 4px;
        padding: 32px 24px;
        margin: 12px;
        text-decoration: none;
        z-index: 0;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: -16px;
            right: -16px;
            background: #69ac26;
            height: 32px;
            width: 32px;
            border-radius: 32px;
            transform: scale(1);
            transform-origin: 50% 50%;
            transition: transform 0.25s ease-out;
        }

        &:hover:before {
            transform: scale(21);
        }

        &:hover .card__text,
        &:hover p {
            transition: all 0.3s ease-out;
            color: rgba(255, 255, 255, 0.8) !important;
        }

        &:hover .card__title,
        &:hover p:first-child {
            transition: all 0.3s ease-out;
            color: #fff !important;
        }
    }
}