.container-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;

    &__item {

        padding: 4px;
    }

    @media (max-width: 562px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}